@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {

  .app-colors {
    @apply bg-white border border-gray-200;
  }

  .header-style {
    @apply bg-gray-50 text-gray-600 font-medium;
  }

  .interface-form-colors {
    @apply bg-gray-50 shadow-md z-50 shadow-gray-300;
  }

  .text-input-style {
    @apply bg-transparent border-amber-600 border-b-2 text-sm font-medium text-gray-800;
  }

  .display-colors {
    @apply bg-white text-gray-800;
  }

  .btn {
    @apply px-2 py-1 text-sm font-medium text-gray-600 bg-gray-200 rounded cursor-pointer;
  }

  .btn:active {
    @apply bg-gray-300
  }

  .btn-copy {
    @apply bg-gray-200 rounded-md;
  }

  .mode-icon {
    @apply text-gray-600 w-5 h-5;
  }

  .mode-icon-selected {
    @apply text-amber-600 w-5 h-5;
  }

  .mode-icon-sm {
    @apply w-4 h-4 text-gray-600;
  }

  .loading-icon-style {
    @apply animate-spin-slow w-10 h-10 text-gray-600;
  }

  .info-header {
    @apply text-sm font-semibold text-gray-800 border-b border-gray-200;
  }

  .info-subheader {
    @apply text-sm font-semibold text-amber-600
  }

  .info-icon {
    @apply w-4 h-4 text-gray-600
  }

  .info-section-link {
    @apply text-sm font-semibold text-gray-800 border-b-2
  }

  .info-head-container {
    @apply flex items-center mb-1 mt-3 space-x-1
  }

  .info-body {
    @apply text-xs text-gray-800 mb-2;
  }
}
